<div class="top-0 z-20 w-full text-sc-gray-1 font-medium hidden xl:block">
  <div class="bg-sc-gray-5 flex py-3 items-center fixed z-10 border-b-4 xl:border-b-0 border-sc-blue-3 w-full">
    <div class="w-80">
      <div class="ml-3 flex"><a class="py-2 px-3" href="/" title="Homepage">{% icon logo_full %}</a></div>
    </div>
    <div class="flex-grow hidden xl:flex gap-5 mx-5">
      {% assign active_classes = "text-sc-blue-1" %}
      <a href="/" class="
        py-2 px-5 hover:text-sc-blue-1
        {% if page.url != "/samples" and page.url != "/cli" and page.url != "/changelog" %} {{ active_classes }} {% endif %}
      ">Guides</a>
      <a href="/samples" class="py-2 px-5 hover:text-sc-blue-1 {% if page.url == "/samples" %} {{ active_classes }} {% endif %}">Samples</a>
      <a href="/cli" class="py-2 px-5 hover:text-sc-blue-1 {% if page.url == "/cli" %} {{ active_classes }} {% endif %}">CLI</a>
      <a href="/changelog" class="py-2 px-5 hover:text-sc-blue-1 {% if page.url == "/changelog" %} {{ active_classes }} {% endif %}">Changelog</a>
      <a href="https://developers.scalingo.com" target="_blank" class="py-2 hover:text-sc-blue-1">API Reference</a>
    </div>
    <div class="hidden xl:flex items-center">
      <a href="https://scalingo.com" class="mr-10 hover:text-sc-blue-1" target="_blank">scalingo.com</a>
      <a href="https://auth.scalingo.com/users/sign_in" class="mr-10 hover:text-sc-blue-1">Sign In</a>
      <div class="mr-6">
        {% include atoms/button.html href="https://auth.scalingo.com/users/sign_up" text="Sign up" %}
      </div>
    </div>
  </div>
  <div style="height: 68px;"></div>
</div>

<script type="text/javascript">
  document.querySelector("#mobile-menu").addEventListener("click", toggleMobileMenu, true);

  function toggleMobileMenu(e) {
    e.stopPropagation();

    let button = document.querySelector("#mobile-menu");
    let panels = document.querySelector("#mobile-menu-panels");
    let nav = document.querySelector("#mobile-menu-nav");
    let iconCross = document.querySelector("#mobile-menu-icon-cross");
    let iconHamburger = document.querySelector("#mobile-menu-icon-hamburger");
    let content = document.querySelector("#content");

    let buttonClasses = ['active']

    if (button.classList.contains('active')) {
      document.getElementById('full-nav-container').appendChild(document.getElementById('menu-nav'));
      button.classList.remove(...buttonClasses)
      iconHamburger.classList.remove("hidden");
      content.classList.remove("hidden");
      iconCross.classList.add("hidden");
      panels.classList.add("hidden");
      nav.classList.add("hidden");
    } else {
      document.getElementById('mobile-nav-container').appendChild(document.getElementById('menu-nav'));
      button.classList.add(...buttonClasses)
      iconHamburger.classList.add("hidden");
      content.classList.add("hidden");
      iconCross.classList.remove("hidden");
      panels.classList.remove("hidden");
      nav.classList.remove("hidden");
    }
  }
</script>
