<div class="bg-sc-gray-5 text-sc-black-1 hidden top-0 h-screen overflow-y-auto sticky" id="mobile-menu-panels">
  <div class="h-16">|</div>
  <div class="border-t-4 border-sc-blue-3 w-screen">
    <div class="flex-grow flex px-5 py-3 overflow-y-auto border-sc-gray-3 border-b justify-between items-center">
        <div class="flex items-center">
        {% assign active_classes = "text-sc-blue-1" %}
        <a href="/" class="py-2 px-3 hover:text-sc-blue-1 {% if page.url == "/" %} {{ active_classes }} {% endif
        %}">Guides</a>
        <a href="/samples" class="py-2 px-3 hover:text-sc-blue-1 {% if page.url == "/samples" %} {{ active_classes }} {%
        endif %}">Samples</a>
        <a href="/cli" class="py-2 px-3 hover:text-sc-blue-1 {% if page.url == "/cli" %} {{ active_classes }} {% endif
        %}">CLI</a>
        <a href="/changelog" class="py-2 px-3 hover:text-sc-blue-1 {% if page.url == "/changelog" %} {{ active_classes }}
        {% endif %}">Changelog</a>
        <a href="https://developers.scalingo.com" target="_blank" class="py-2 px-3 hover:text-sc-blue-1">API&nbsp;Reference</a>
      </div>
    </div>
  </div>
  <div id="mobile-nav-container" class="mb-20"></div>
  <div class="xl:hidden fixed bottom-0 flex justify-center items-center h-20 border-sc-gray-3 border-t w-full mx-auto gap-10 bg-sc-gray-5 z-10">
    <a href="https://auth.scalingo.com/users/sign_in" class="hover:text-sc-blue-1">Sign In</a>
    <div>
      {% include atoms/button.html href="https://auth.scalingo.com/users/sign_up" text="Sign up" %}
    </div>
  </div>
</div>
